ProjekTiket_Server/src/META-INF/wsdl/localhost_8080/TicketWebService/TicketWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ticketing.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ticketing.com/" name="TicketWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ticketing.com/" schemaLocation="http://localhost:8080/TicketWebService/TicketWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="BacaDataTempat">
<part name="parameters" element="tns:BacaDataTempat"/>
</message>
<message name="BacaDataTempatResponse">
<part name="parameters" element="tns:BacaDataTempatResponse"/>
</message>
<message name="BacaReservasi">
<part name="parameters" element="tns:BacaReservasi"/>
</message>
<message name="BacaReservasiResponse">
<part name="parameters" element="tns:BacaReservasiResponse"/>
</message>
<message name="bacaDataTabel">
<part name="parameters" element="tns:bacaDataTabel"/>
</message>
<message name="bacaDataTabelResponse">
<part name="parameters" element="tns:bacaDataTabelResponse"/>
</message>
<message name="BacaDataLogin">
<part name="parameters" element="tns:BacaDataLogin"/>
</message>
<message name="BacaDataLoginResponse">
<part name="parameters" element="tns:BacaDataLoginResponse"/>
</message>
<message name="PesanAcara">
<part name="parameters" element="tns:PesanAcara"/>
</message>
<message name="PesanAcaraResponse">
<part name="parameters" element="tns:PesanAcaraResponse"/>
</message>
<message name="bacaDataPending">
<part name="parameters" element="tns:bacaDataPending"/>
</message>
<message name="bacaDataPendingResponse">
<part name="parameters" element="tns:bacaDataPendingResponse"/>
</message>
<message name="PesanParkir">
<part name="parameters" element="tns:PesanParkir"/>
</message>
<message name="PesanParkirResponse">
<part name="parameters" element="tns:PesanParkirResponse"/>
</message>
<message name="claimTicketAcara">
<part name="parameters" element="tns:claimTicketAcara"/>
</message>
<message name="claimTicketAcaraResponse">
<part name="parameters" element="tns:claimTicketAcaraResponse"/>
</message>
<message name="cekUsername">
<part name="parameters" element="tns:cekUsername"/>
</message>
<message name="cekUsernameResponse">
<part name="parameters" element="tns:cekUsernameResponse"/>
</message>
<portType name="TicketWebService">
<operation name="register">
<input wsam:Action="http://services.ticketing.com/TicketWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://services.ticketing.com/TicketWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.ticketing.com/TicketWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="BacaDataTempat">
<input wsam:Action="http://services.ticketing.com/TicketWebService/BacaDataTempatRequest" message="tns:BacaDataTempat"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/BacaDataTempatResponse" message="tns:BacaDataTempatResponse"/>
</operation>
<operation name="BacaReservasi">
<input wsam:Action="http://services.ticketing.com/TicketWebService/BacaReservasiRequest" message="tns:BacaReservasi"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/BacaReservasiResponse" message="tns:BacaReservasiResponse"/>
</operation>
<operation name="bacaDataTabel">
<input wsam:Action="http://services.ticketing.com/TicketWebService/bacaDataTabelRequest" message="tns:bacaDataTabel"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/bacaDataTabelResponse" message="tns:bacaDataTabelResponse"/>
</operation>
<operation name="BacaDataLogin">
<input wsam:Action="http://services.ticketing.com/TicketWebService/BacaDataLoginRequest" message="tns:BacaDataLogin"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/BacaDataLoginResponse" message="tns:BacaDataLoginResponse"/>
</operation>
<operation name="PesanAcara">
<input wsam:Action="http://services.ticketing.com/TicketWebService/PesanAcaraRequest" message="tns:PesanAcara"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/PesanAcaraResponse" message="tns:PesanAcaraResponse"/>
</operation>
<operation name="bacaDataPending">
<input wsam:Action="http://services.ticketing.com/TicketWebService/bacaDataPendingRequest" message="tns:bacaDataPending"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/bacaDataPendingResponse" message="tns:bacaDataPendingResponse"/>
</operation>
<operation name="PesanParkir">
<input wsam:Action="http://services.ticketing.com/TicketWebService/PesanParkirRequest" message="tns:PesanParkir"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/PesanParkirResponse" message="tns:PesanParkirResponse"/>
</operation>
<operation name="claimTicketAcara">
<input wsam:Action="http://services.ticketing.com/TicketWebService/claimTicketAcaraRequest" message="tns:claimTicketAcara"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/claimTicketAcaraResponse" message="tns:claimTicketAcaraResponse"/>
</operation>
<operation name="cekUsername">
<input wsam:Action="http://services.ticketing.com/TicketWebService/cekUsernameRequest" message="tns:cekUsername"/>
<output wsam:Action="http://services.ticketing.com/TicketWebService/cekUsernameResponse" message="tns:cekUsernameResponse"/>
</operation>
</portType>
<binding name="TicketWebServicePortBinding" type="tns:TicketWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BacaDataTempat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BacaReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bacaDataTabel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BacaDataLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PesanAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bacaDataPending">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PesanParkir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="claimTicketAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicketWebService">
<port name="TicketWebServicePort" binding="tns:TicketWebServicePortBinding">
<soap:address location="http://localhost:8080/TicketWebService/TicketWebService"/>
</port>
</service>
</definitions>